/*
*
*/

/*------------*/
/* Base Tags    
/*------------*/

img {
    max-width: 100%;
}

/* , .options_list input[type="text"] */

.contact_info_form_wrapper input {
    border: 1px solid rgba(var(--brownrgb), 0.2);
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;

}

main {
    margin: 15rem 0 10rem 0;
}


/*------------*/
/* General Components    
/*------------*/

.button {
    display: block;
    width: 20rem;
    height: 8rem;
    overflow: hidden;
    border-radius: 4rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 8rem;
    text-align: center;
    -webkit-transition: color 0.55s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: color 0.55s cubic-bezier(0.215, 0.61, 0.355, 1);
    text-decoration: none;
    color: var(--brown);
    font-weight: 600;
    background-color: var(--yellow);

}

.button:hover {
    background-color: var(--brown);
    color: #f6efd8;
    transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1);
}


/*------------*/
/* Header    
/*------------*/
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;

}

.header_menu_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_wrapper {
    height: 100%;
    padding: 6rem 0;
}

header .logo {
    height: 8rem;
    width:auto;
}

header .hamburger_menu_img {
    display: none;
}


.is_active {
    display: block !important;
    transition: transform .5s ease, opacity ease .2s;
    opacity: 1;

}


header nav ul {
    display: flex;
    flex-wrap: none;
}
header nav ul li{
    list-style: none;;
}

/*------------*/
/* Navigation    
/*------------*/

nav.hamburger {
}

nav.hamburger ul li {
    padding: 2rem 2rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    font-family: "DM Sans";
    font-size: 2rem;
}

::selection {
    background: var(--yellow);
    color: white;
}

nav.hamburger ul li a:link,
nav ul li a:visited {
    text-decoration: none;
}


/*------------*/
/* Main   
/*------------*/


main h1{
    font-size: 10rem;
}

.land_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 160rem;
    margin: 14rem 3rem 0;
    justify-content: space-around;
}

.land_txt {
    display: flex;
    flex-flow: column-reverse;

}


.land_img_wrapper {
    width: 50rem;
    z-index: -1;
}

.land_txt h1 {
    max-width: min-content;
    margin-top: 1rem;
}

.title_sub {
    font-size: 3.6rem;
    font-family: 'DM Sans';
    font-weight: 500;
}

.land_img {
    max-width: 80%;
    filter: drop-shadow(1rem 2rem 1rem rgb(0, 0, 0, 0.2));
}


.land_bg_wrapper{
    z-index: -99;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
}

.land_bg{
    /* z-index: -1; */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
}


/*------------*/
/* Menu    
/*------------*/

.menu_title{
    font-size: 6rem;
}
.menu_wrapper{
    max-width: 160rem;
}

.menu_title_wrapper {
    width: calc(100% - 4rem);
    font-size: 8rem;
    max-width: 160rem;
    margin: 0 auto;
}

.menu_food {
    display: flex;
    max-width: 100vw;
    margin-left: 4rem;
    overflow: scroll;
}

.menu_box_wrapper img {
    max-width: 30rem;
    border-radius: 4rem;
}

.menu_box_wrapper {
    display: flex;
    flex-flow: row;
    overflow-x: scroll;

}

.menu_box {
    margin: 2rem
}


.page_header {
    max-width: 60vw;
    margin: 0 auto;
    padding: 5rem 0;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 20rem;
}

.page_header h2 {
    margin: 0 auto;
    width: min-content;
    font-size: 6.4rem;
}

.page_header p {
    margin-top: 2rem;
    line-height: 2.6rem;
    letter-spacing: 0.01rem;
}

.menu_box_txt_name {}

.menu_box_txt_price {}

.filter_list_wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 -2rem 0;
    font-size: 1.5rem;
    font-weight: 600;;
}

/*------------*/
/* Sections    
/*------------*/

.section_wrapper {
    display: flex;
    color: #41210f;
    padding: 8rem 0 0;
}

.bg_yellow {
    background-color: var(--yellow);
    padding-bottom: 8rem;
}

.bg_yellow .button {
    background: white;
}

.bg_yellow .button:hover {
    background-color: var(--brown);
    color: #f6efd8;
    transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*------------*/
/* Concept    
/*------------*/

.page_content{
    width: calc(100% - 20rem);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0 5rem;
    max-width: 160rem;;

}
.concept_wrapper {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.concept_img {
    border-radius: 2rem;
}

.section_content_title {
    margin-bottom: 2rem;
    font-size: 3.6rem;
    max-width: 100%;
    line-height: 4.2rem;
    font-weight: 600;
    word-wrap:
}

.max-width-80 {
    max-width: 80%;
}

.section_content_txt {
    line-height: 3rem;
    margin-bottom: 4rem;
    padding-right: 0;
    hyphens: auto;
    letter-spacing: calc(1.2rem/100);
}


/*------------*/
/* About Us    
/*------------*/

.aboutus_img {
    border-radius: 2rem;q



}

/*------------*/
/* Access   
/*------------*/

.access_wrapper {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    /* width: calc(100% - 20rem); */
}



.map {
    height: calc(25vw);
    border-radius: 3rem;
    margin: 2rem 0;
}

.access_info {
    padding: 1rem 0;
    border-bottom: 0.1rem solid rgba(var(--brownrgb), 0.2);


}

.access_info_title {
    font-weight: 700;
}

.access_info_text {
    line-height: 1.54;
    letter-spacing: 0em;
    overflow: hidden;
    margin: 0.5rem 0 0 0;

}

.access_info_hours {
    list-style: disc;
    text-indent: 3rem;
}

.no_border {
    border-bottom: none;
}

.access_info p {
    margin: 1rem;
}

.access_info_wrapper{
    display: flex;
    gap: 0 7rem;
    flex-wrap: wrap;
}
/*------------*/
/* Footer
/*------------*/

footer {
    background: var(--yellow);
    padding: 3rem 0;
    margin: 0 auto;

}

.footer_logo_wrapper {
    width: 20rem;
    margin: 0 auto;

}

/*------------*/
/* Menu Items
/*------------*/

.menu_item_list_wrapper {
    max-width: 65vw;
    margin: 0 auto;
}

.menu_item_wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 4rem 0;
    gap: 1rem;
}

.menu_item_wrapper a {
    max-width: ;

}

.menu_item_wrapper img {
    max-width: 100%;
    border-radius: 2rem;
}


.menu_item {
    max-width: 13vw;
    min-width: 19rem;
}


.menu_item_txt_name {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 600;

}

.menu_item_txt_price {
    font-size: 2rem;
    font-weight: 600;
    color: #C89B00;
}


.menu_item_wrapper a {
    text-decoration: none;
    color: #41210f;
}

.menu_item_wrapper img:hover {
    opacity: 80%;
}


/*------------*/
/* Category
/*------------*/

nav.categories {
    width: 100%;
    display: block;
    background-color: white;
    display: flex;
    flex-flow: row;
    justify-content: start;
    z-index: 1;
    margin: 0 auto;
}

.order_pg_wrapper nav {
    padding-bottom: 0.4rem;
}

.order_pg_wrapper nav.categories {
    width: 100%;
    margin-bottom: 2.9rem;
}


nav.categories .categories_name_wrapper {
    font-family: 'Lexend';
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 4rem;
    padding-bottom: 1.6rem;
    /* minus the border */
}

.categories_active {
    border-bottom: #C89B00 0.4rem solid;
    border-radius: 0 0 0 1rem;
}


/*------------*/
/* Dish
/*------------*/
.dish_feature_pg_wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
}
.dish_feature_wrapper{
    display: flex;
    position: fixed;
    background-color: #f6efd8;
    overflow: hidden;
    width: 50%;
    flex-direction: column;
    z-index: 9999;
}

.dish_img_wrapper {
    width: auto;
}

.dish_img_info_wrapper {
    display: flex;
    flex-flow: row;
    padding: 2rem;
    gap: 2rem;

}


.dish_info_wrapper{
    display: flex;

}

.close_button_wrapper{
    min-width: 2.5rem;
}
.close_button{
}

.dish_info {
    /* width: calc(100% - 4rem); */
    /* margin: 2rem auto; */
    display: flex;
    flex-flow: column;
    gap: 1rem 0;
}


.veg_label {
    font-size: 2rem;

}

.dish_name {
    font-size: 2.4rem;

}

.dish_price {
    font-size: 2.4rem;
    color: #C89B00;
    font-weight: 600;
}

.dish_desc {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.options_wrapper input {
    display: relative;

}

.options_wrapper {
    display: flex;
    flex-flow: column;
    gap: 1rem 0rem;

}

.options_wrapper h5 {
    font-size: 2rem;

}

.options_list>label {
    display: block;
    padding: 1rem 0;
    font-size: 1.8rem;
}


/*------------*/
/* Cart Options
/*------------*/

.cart_link{
    
}

.cart_options_wrapper {
    font-size: 2.0rem;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.quantity_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add_cart_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    overflow: hidden;

    border-radius: 4rem;
    text-align: center;
    -webkit-transition: color 0.55s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: color 0.55s cubic-bezier(0.215, 0.61, 0.355, 1);
    text-decoration: none;
    color: var(--brown);
    font-weight: 600;
    background-color: var(--yellow);
}

/* Quantity */

.quantity_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.quantity_button {
    background-color: var(--yellow);
    padding: 2rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20rem;
    cursor: pointer;


}

.view_order_wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;

    background-color: var(--yellow);
    width: calc(100% - 4rem);
    border-radius: 4rem;
    font-size: 1.6rem;
    font-weight: 300;


}

.view_order_text {
    font-size: 2rem;
    font-weight: 600;
}

.order_card_quantity {
    letter-spacing: 0.2rem;
    min-width: max-content;
}

.order_card_quantity {}

.order_list_wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: 40rem;
    /* padding-top: 3rem; */
}

.order_list_wrapper p{
    /* padding: 4rem 5rem; */
    margin: 0rem 0;
    font-size: 2rem;
    max-width: 40rem;
}

.order_card_wrapper {
    display: flex;
    flex-flow: column;
    background-color: white;
    width: calc(100% - 4rem);
    margin: 1rem 0;
    padding: 2rem 0 0rem;
    border-radius: 2rem;
    font-size: 1.6rem;
}

.order_card_content_wrapper {
    display: flex;
    gap: 0 2rem;
    justify-content: space-around;
    padding: 2rem;
    padding-top: 0;

}

.order_card_info{
    display: flex;
    flex-flow: column;
    gap: 2rem 0;
}



/* Name, desc and Edit */
    {
    display: flex;
    flex-flow: column;
    gap: 1rem 0;
    font-size: 1.3rem;
}

.order_card_title {
    font-weight: 500;
    font-size: 1.6rem;
}

.order_card_desc {
    color: rgba(var(--brownrgb), 0.7);
    line-height: 1.6rem;
    ;
}

.order_card_edit {
    color: #C89B00;
}

.order_card_price {
    font-size: 1.6rem;
}





/* Order Summary
*/

.order_summary_wrapper {
    display: flex;
    flex-flow: column;
    padding: 1rem 0;
}

.order_summary_info_wrapper {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: calc(100% - 6rem);
    font-size: 1.5rem;

    color: rgba(var(--brownrgb), 0.7);
}

.order_summary_content_list {
    display: flex;
    flex-flow: column;
    gap: 1rem 0;
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(var(--brownrgb), 0.2);
}

.order_summary_content {
    display: flex;
    justify-content: space-between;
}

.order_summary_total {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.order_summary_checkout {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    margin: 0.5rem 0 1rem;
    overflow: hidden;

    border-radius: 4rem;
    text-align: center;
    -webkit-transition: color 0.55s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: color 0.55s cubic-bezier(0.215, 0.61, 0.355, 1);
    text-decoration: none;
    color: var(--brown);
    font-weight: 600;
    background-color: var(--yellow);
}


.contact_info_wrapper {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 2rem 0;

}

.contact_info_form_wrapper {
    display: flex;
    flex-flow: column;
    gap: 0.6rem 0;
}

.contact_info_wrapper h5 {
    font-size: 1.4rem;

}

.add_items {
    padding-top: 0rem;
    font-size: 1.76rem;
    color: #C89B00;
    justify-content: start;
}

.order_list_wrapper .order_summary_info_wrapper {
    color: var(--brown);
    border-top: 1px solid rgba(var(--brownrgb), 0.2);
}

.order_list_wrapper .order_summary_total {
    font-size: 2.4rem;
}

.order_list_wrapper h4 {
    align-self: start;
    width: calc(100% - 6rem);
    margin: 3rem auto 0;
    font-weight: 400;
    font-size: 2rem;
    ;

}


.card_input_wrapper {
    display: flex;
    flex-flow: column;
    border: 1px solid rgba(var(--brownrgb), 0.2);
    padding: 1rem;
    font-size: 1.9rem;

}

.card_details_wrapper {
    display: flex;
}

.input_form {
    line-height: 1.25rem;
    border: 0;
}

.options_list {
    display: flex;
    flex-flow: column;
    flex-direction: column;
}

.form_wrapper {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: auto auto;
    grid-template-rows: 3rem 3rem 3rem;
    grid-template-areas:
        "name name"
        "number number"
        "expiration security";
    padding: 0 2rem 4rem;
    gap: 3rem;
}

.field_wrapper {
    position: relative;
    flex-flow: column;
    display: flex;
    gap: 0.5rem;
}


.field_wrapper:first-child {
    grid-area: name;
}

.field_wrapper:nth-child(2) {
    grid-area: number;

}

.field_wrapper:nth-child(4) {
    grid-area: security;

}

.field_wrapper:nth-child(3) {
    grid-area: expiration;

}

.form_wrapper label {}

.form_wrapper input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    display: block;

}



/*------------*/
/* Orer Completion Page
/*------------*/


.tickmark {
    content: url('images/tickmark.svg');
    width: 10rem;
    height: 10rem;
}

.order_completion_card{
    display: flex;
    flex-flow: column;
    background-color: white;
    width: calc(100% - 4rem);
    margin: 1rem 0;
    padding: 2rem 0 0rem;
    border-radius: 2rem;
    font-size: 1.6rem;
}

.order_completion_wrapper {
    display: flex;
    gap: 2rem 0rem;
    justify-content: space-around;
    padding: 2rem;
    padding-top: 0;
    flex-flow: column;
    align-items: center;
}


.order_completion_wrapper p {
    text-align: center;
    line-height: 2.1rem;
    font-size: 1.6rem;
    padding: 0;;
}


.order_completion_wrapper .order_summary_checkout {
    font-size: 1.4rem;
}

.order_completion_card .title_sub{
    text-align: center;
}



/************
* PAGE WRAPPER
*/

.menu_pg_wrapper{display: flex;justify-content: center;/* width: 100vw; */margin: 0 auto;}



.menu_pg_wrapper nav, .order_pg_wrapper nav{
    /* width: 80vw; */
    /* border-radius: 1rem; */
}




/*------------*/
/* Modifiers
/*------------*/

.left {
    margin-left: auto;
}

.justify_unset {
    justify-content: unset;
}

.flex_row_reverse{
    flex-flow: row-reverse;
}

.no_flex{
    display: block;
}

.radius_left{
    border-radius: 1rem 0 0 1rem;
}


.radius_right{
    border-radius:0 1rem 1rem 0;
}